<!-- Footer -->
<footer
    class="w-full py-section-gap px-container-padding flex flex-col items-center gap-base bg-surface-container-low/80 backdrop-blur-lg border-t border-black/5">
    <div class="font-headline-md text-headline-md text-primary mb-4">LIVERPOOL UZ</div>
    <div class="flex flex-wrap justify-center gap-8 mb-12">
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">Bosh sahifa</a>
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">Jamoa</a>
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">O'yinlar</a>
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">Stadion</a>
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">Tarix</a>
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">Magazin</a>
        <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md opacity-80 hover:opacity-100"
            href="#">Bog'lanish</a>
    </div>
    <div class="flex gap-6 mb-12 footer-icons">
        <a class="w-10 h-10 glass-panel rounded-full flex items-center justify-center text-on-surface-variant hover:text-primary transition-all"
            href="#">
            <span class="material-symbols-outlined">public</span>
        </a>
        <a class="w-10 h-10 glass-panel rounded-full flex items-center justify-center text-on-surface-variant hover:text-primary transition-all"
            href="#">
            <span class="material-symbols-outlined">group</span>
        </a>
        <a class="w-10 h-10 glass-panel rounded-full flex items-center justify-center text-on-surface-variant hover:text-primary transition-all"
            href="#">
            <span class="material-symbols-outlined">camera</span>
        </a>
    </div>
    <p class="text-on-surface-variant/60 font-body-md text-body-md">
        © 2024 LIVERPOOL UZ. Barcha huquqlar himoyalangan.
    </p>
</footer>